.banner {
  padding-top: 120px;
  padding-bottom: 60px;
}

.banner__wrapper {
  display: flex;
  max-width: 100%;
  gap: 80px;
}

.banner__title {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 46px;
  line-height: 130%;
  color: var(--banner-title-color);
}

.banner__values {
  display: grid;
  grid-template-columns: repeat(2, auto);
  gap: 48px 80px;
}

.banner__value {
  display: flex;
  flex-direction: column;
  max-width: 340px;
}

.banner__value-icon {
  margin-bottom: 24px;
}

.banner__value-title {
  margin-bottom: 8px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: var(--banner-value-title-color);
}

.banner__value-description {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--banner-value-description-color);
}

@media (--lg-viewport) {
  .banner {
    padding-top: 96px;
    padding-bottom: 48px;
  }

  .banner__wrapper {
    display: flex;
    max-width: 100%;
    gap: 80px;
  }

  .banner__title {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 900;
    font-size: 46px;
    line-height: 130%;
    color: var(--banner-title-color);
  }

  .banner__values {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 48px 80px;
  }

  .banner__value {
    display: flex;
    flex-direction: column;
    max-width: 340px;
  }

  .banner__value-icon {
    margin-bottom: 24px;
  }

  .banner__value-title {
    margin-bottom: 8px;
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 150%;
    color: var(--banner-value-title-color);
  }

  .banner__value-description {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--banner-value-description-color);
  }
}
