.banner {
  padding-top: 60px;
  padding-bottom: 30px;
}

.banner__wrapper {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  gap: 40px;
}

.banner__title {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 28px;
  line-height: 130%;
  color: var(--banner-title-color);
  text-align: center;
}

.banner__values {
  display: grid;
  grid-template-columns: 1fr;
  gap: 32px;
}

.banner__value {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  text-align: center;
}

.banner__value-icon {
  width: 32px;
  height: 32px;
  margin-bottom: 16px;
}

.banner__value-title {
  margin-bottom: 6px;
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: var(--banner-value-title-color);
}

.banner__value-description {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 160%;
  color: var(--banner-value-description-color);
}

@media (--sm-viewport) {
  .banner {
    padding-top: 70px;
    padding-bottom: 35px;
  }

  .banner__wrapper {
    gap: 45px;
  }

  .banner__title {
    font-size: 32px;
  }

  .banner__values {
    gap: 36px;
  }

  .banner__value-icon {
    width: 36px;
    height: 36px;
    margin-bottom: 18px;
  }

  .banner__value-title {
    font-size: 17px;
  }

  .banner__value-description {
    font-size: 14px;
  }
}

@media (--md-viewport) {
  .banner {
    padding-top: 85px;
    padding-bottom: 42px;
  }

  .banner__wrapper {
    gap: 55px;
  }

  .banner__title {
    font-size: 36px;
    text-align: left;
  }

  .banner__values {
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
  }

  .banner__value {
    align-items: flex-start;
    text-align: left;
    max-width: 280px;
  }

  .banner__value-icon {
    width: 40px;
    height: 40px;
    margin-bottom: 20px;
  }

  .banner__value-title {
    font-size: 18px;
    margin-bottom: 7px;
  }

  .banner__value-description {
    font-size: 15px;
  }
}

@media (--lg-viewport) {
  .banner {
    padding-top: 100px;
    padding-bottom: 50px;
  }

  .banner__wrapper {
    flex-direction: row;
    gap: 70px;
  }

  .banner__title {
    font-size: 40px;
    flex: 1;
  }

  .banner__values {
    grid-template-columns: repeat(2, auto);
    gap: 44px 70px;
    flex: 1;
  }

  .banner__value {
    max-width: 300px;
  }

  .banner__value-icon {
    width: 44px;
    height: 44px;
    margin-bottom: 22px;
  }

  .banner__value-title {
    font-size: 19px;
    margin-bottom: 7px;
  }

  .banner__value-description {
    font-size: 15px;
  }
}

@media (--xl-viewport) {
  .banner {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .banner__wrapper {
    gap: 80px;
  }

  .banner__title {
    font-size: 46px;
  }

  .banner__values {
    gap: 48px 80px;
  }

  .banner__value {
    max-width: 340px;
  }

  .banner__value-icon {
    width: 48px;
    height: 48px;
    margin-bottom: 24px;
  }

  .banner__value-title {
    font-size: 20px;
    margin-bottom: 8px;
  }

  .banner__value-description {
    font-size: 16px;
  }
}
