.card-philosophy {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 26px;
  padding-bottom: 52px;
}

.card-philosophy__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 14px 17.6px;
  margin-top: 136.7px;
  margin-left: 61.8px;
  margin-right: 61.8px;
  border-radius: 1.5px;
  max-width: 237px;
  max-height: 91.1px;
  box-shadow:
    0 1.2px 1.2px -1.2px rgb(30 33 44 / 3%),
    0 3.5px 2.9px -1.8px rgb(154 156 165 / 4%),
    0 8.8px 7.2px -2.9px rgb(154 156 165 / 5%),
    0 23.4px 23.4px -5.9px rgb(154 156 165 / 8%);
  background: var(--card-philosophy-bg);
  z-index: 2;
  position: absolute;
}

.card-philosophy__title {
  margin-bottom: 5.9px;
  font-weight: 900;
  font-size: 13px;
  line-height: 130%;
  color: var(--card-philosophy-title-color);
}

.card-philosophy__description {
  font-weight: 400;
  font-size: 7.2px;
  line-height: 140%;
  color: var(--card-philosophy-description-color);
}

.card-philosophy__img-container {
  display: flex;
  gap: 8.8px;
  z-index: 1;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.card-philosophy__img1 {
  border-radius: 1.2px;
  margin-top: 22.1px;
  max-width: 83.7px;
  max-height: 58.6px;
  object-fit: cover;
}

.card-philosophy__img2 {
  position: absolute;
  border-radius: 1.2px;
  margin-top: 89.8px;
  max-width: 83.7px;
  max-height: 87.9px;
  object-fit: cover;
  left: 0;
}

.card-philosophy__img3 {
  border-radius: 1.2px;
  max-width: 115.2px;
  max-height: 146.9px;
  margin-bottom: 68px;
  object-fit: cover;
}

.card-philosophy__img4 {
  border-radius: 1.2px;
  max-width: 145.8px;
  max-height: 126.3px;
  margin-top: 51.4px;
  margin-bottom: 36.5px;
  object-fit: cover;
}

@media (--sm-viewport) {
  .card-philosophy {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .card-philosophy__text-container {
    padding: 21.5px 27px;
    margin-top: 210px;
    margin-left: 95px;
    margin-right: 95px;
    border-radius: 2.3px;
    max-width: 364px;
    max-height: 140px;
  }

  .card-philosophy__title {
    margin-bottom: 9px;
    font-size: 20px;
  }

  .card-philosophy__description {
    font-size: 11px;
  }

  .card-philosophy__img-container {
    gap: 13.5px;
    max-width: 500px;
  }

  .card-philosophy__img1 {
    border-radius: 1.8px;
    margin-top: 34px;
    max-width: 128.6px;
    max-height: 90px;
  }

  .card-philosophy__img2 {
    border-radius: 1.8px;
    margin-top: 138px;
    max-width: 128.6px;
    max-height: 135px;
    left: 0;
  }

  .card-philosophy__img3 {
    border-radius: 1.8px;
    max-width: 177px;
    max-height: 225.6px;
    margin-bottom: 104.5px;
  }

  .card-philosophy__img4 {
    border-radius: 1.8px;
    max-width: 224px;
    max-height: 194px;
    margin-top: 79px;
    margin-bottom: 56px;
  }
}

@media (--md-viewport) {
  .card-philosophy {
    padding-top: 40px;
    padding-bottom: 80px;
  }

  .card-philosophy__text-container {
    padding: 28.6px 36px;
    margin-top: 280px;
    margin-left: 126px;
    margin-right: 126px;
    border-radius: 3px;
    max-width: 484px;
    max-height: 160px;
  }

  .card-philosophy__title {
    margin-bottom: 13px;
    font-size: 24px;
  }

  .card-philosophy__description {
    font-size: 13px;
  }

  .card-philosophy__img-container {
    gap: 18px;
    max-width: 650px;
  }

  .card-philosophy__img1 {
    border-radius: 2.4px;
    margin-top: 45px;
    max-width: 171px;
    max-height: 120px;
  }

  .card-philosophy__img2 {
    border-radius: 2.4px;
    margin-top: 183px;
    max-width: 171px;
    max-height: 180px;
    left: 0;
  }

  .card-philosophy__img3 {
    border-radius: 2.4px;
    max-width: 235px;
    max-height: 300px;
    margin-bottom: 139px;
  }

  .card-philosophy__img4 {
    border-radius: 2.4px;
    max-width: 298px;
    max-height: 258px;
    margin-top: 105px;
    margin-bottom: 75px;
  }
}

@media (--lg-viewport) {
  .card-philosophy {
    padding-top: 70px;
    padding-bottom: 80px;
  }

  .card-philosophy__text-container {
    padding: 38px 48px;
    margin-top: 372px;
    margin-left: 168px;
    margin-right: 168px;
    border-radius: 4px;
    max-width: 644px;
    max-height: 213px;
  }

  .card-philosophy__title {
    margin-bottom: 19.2px;
    font-size: 28px;
  }

  .card-philosophy__description {
    font-size: 14px;
  }

  .card-philosophy__img-container {
    gap: 24px;
    max-width: 850px;
  }

  .card-philosophy__img1 {
    border-radius: 3.2px;
    margin-top: 60px;
    max-width: 228px;
    max-height: 160px;
  }

  .card-philosophy__img2 {
    border-radius: 3.2px;
    margin-top: 244px;
    max-width: 228px;
    max-height: 240px;
    left: 0;
  }

  .card-philosophy__img3 {
    border-radius: 3.2px;
    max-width: 312px;
    max-height: 400px;
    margin-bottom: 185px;
  }

  .card-philosophy__img4 {
    border-radius: 3.2px;
    max-width: 396px;
    max-height: 344px;
    margin-top: 140px;
    margin-bottom: 100px;
  }
}

@media (--xl-viewport) {
  .card-philosophy {
    padding-top: 90px;
    padding-bottom: 57.5px;
  }

  .card-philosophy__text-container {
    padding: 48px 60px;
    margin-top: 465px;
    margin-left: 210px;
    margin-right: 210px;
    border-radius: 4px;
    max-width: 805px;
    max-height: 266px;
  }

  .card-philosophy__title {
    margin-bottom: 24px;
    font-size: 32px;
  }

  .card-philosophy__description {
    font-size: 16px;
  }

  .card-philosophy__img-container {
    gap: 30px;
    max-width: 1200px;
    margin: 0 auto;
  }

  .card-philosophy__img1 {
    margin-top: 75px;
    max-width: 285px;
    max-height: 200px;
    border-radius: 4px;
  }

  .card-philosophy__img2 {
    margin-top: 305px;
    max-width: 285px;
    max-height: 300px;
    border-radius: 4px;
    left: 0;
  }

  .card-philosophy__img3 {
    border-radius: 4px;
    max-width: 390px;
    max-height: 500px;
    margin-bottom: 231px;
  }

  .card-philosophy__img4 {
    max-width: 495px;
    max-height: 430px;
    margin-top: 175px;
    margin-bottom: 126px;
    border-radius: 4px;
  }
}
