.card-philosophy {
  display: flex;
  justify-content: center;
  padding-top: 90px;
  padding-bottom: 57.5px;
}

.card-philosophy__text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 48px 60px;
  margin-top: 465px;
  margin-left: 210px;
  margin-right: 210px;
  border-radius: 4px;
  width: 805px;
  height: 266px;
  box-shadow:
    0 4px 4px -4px rgb(30 33 44 / 3%),
    0 12px 10px -6px rgb(154 156 165 / 4%),
    0 30px 24px -10px rgb(154 156 165 / 5%),
    0 80px 80px -20px rgb(154 156 165 / 8%);
  background: var(--card-philosophy-bg);
  z-index: 2;
  position: absolute;
}

.card-philosophy__title {
  margin-bottom: 24px;
  font-weight: 900;
  font-size: 32px;
  line-height: 130%;
  color: var(--card-philosophy-title-color);
}

.card-philosophy__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  color: var(--card-philosophy-description-color);
}

.card-philosophy__img-container {
  display: flex;
  gap: 30px;
  z-index: 1;
  width: 100%;
}

.card-philosophy__img1 {
  margin-top: 75px;
  width: 285px;
  height: 200px;
  object-fit: cover;
}

.card-philosophy__img2 {
  position: absolute;
  margin-top: 305px;
  width: 285px;
  height: 300px;
  object-fit: cover;
}

.card-philosophy__img3 {
  margin-bottom: 231px;
  object-fit: cover;
}

.card-philosophy__img4 {
  width: 495px;
  height: 430px;
  margin-top: 175px;
  margin-bottom: 126px;
  object-fit: cover;
}
