.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  background: url('/images/background.jpg') center/cover no-repeat;
  flex-shrink: 0;
}

.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.page__footer {
  flex-shrink: 0;
}
