.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: var(--color-page-bg);
}

.page__header {
  flex-shrink: 0;
}

.page__content {
  flex-grow: 1;
}

.page__footer {
  flex-shrink: 0;
  background-color: var(--color-footer-bg);
}
