.page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.page__header {
  flex-shrink: 0;
}

.page__content {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  background-color: white;
}

.page__footer {
  flex-shrink: 0;
}

/* .background-section {
  margin-top: 304px;
  background-image: url('./images/Background.svg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: calc(100vh - 304px);
  position: relative;
} */
