.statistic {
  padding-top: 50px;
  padding-bottom: 24px;
}

.statistic__list {
  display: flex;
  flex-flow: row;
  justify-content: center;
  gap: 19px;
}

.statistic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.statistic__img {
  height: 60px;
  width: 60px;
}

.statistic__caption {
  font-family: Lato, Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 11px;
  line-height: 150%;
  text-align: center;
  color: var(--banner-statistic-caption);
}

@media (--sm-viewport) {
  .statistic {
    padding-top: 62px;
    padding-bottom: 30px;
  }

  .statistic__list {
    gap: 24px;
  }

  .statistic__item {
    gap: 10px;
  }

  .statistic__img {
    height: 75px;
    width: 75px;
  }

  .statistic__caption {
    font-size: 12px;
  }
}

@media (--md-viewport) {
  .statistic {
    padding-top: 77px;
    padding-bottom: 38px;
  }

  .statistic__list {
    gap: 30px;
  }

  .statistic__item {
    gap: 13px;
  }

  .statistic__img {
    height: 94px;
    width: 94px;
  }

  .statistic__caption {
    font-size: 12px;
  }
}

@media (--lg-viewport) {
  .statistic {
    padding-top: 96px;
    padding-bottom: 48px;
  }

  .statistic__list {
    gap: 38px;
  }

  .statistic__item {
    gap: 16px;
  }

  .statistic__img {
    height: 118px;
    width: 118px;
  }

  .statistic__caption {
    font-size: 13px;
  }
}

@media (--xl-viewport) {
  .statistic {
    padding-top: 120px;
    padding-bottom: 60px;
  }

  .statistic__list {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 48px;
  }

  .statistic__item {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .statistic__img {
    height: 148px;
    width: 148px;
  }

  .statistic__caption {
    font-family: Lato, Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    text-align: center;
    color: var(--banner-statistic-caption);
  }
}
