:root {
  --color-white: #fff;
  --color-black: #000;
  --color-primary: #7772f1;
  --color-primary-hover: #615de0;
  --color-primary-active: #4b48cf;
  --color-secondary: #00f0b5;
  --color-secondary-hover: #00d6a3;
  --color-secondary-active: #00bc91;
  --color-success: #03cea4;
  --color-danger: #ff4242;
  --color-warning: #f89828;
  --color-info: #5a87fc;
  --color-gray-100: #f9f9f9;
  --color-gray-200: #f4f5f6;
  --color-gray-300: #e5e8ed;
  --color-gray-400: #d7dadd;
  --color-gray-500: #b3b7bc;
  --color-gray-600: #9a9ca5;
  --color-gray-700: #787a80;
  --color-gray-800: #424551;
  --color-gray-900: #1e212c;
}
