:root {
  color-scheme: light;

  /* Основные цвета */
  --header-text: var(--color-white); /* Белый текст для хедера */

  /* Текстовые цвета для breadcrumbs и заголовков */
  --breadcrumbs-text: var(--color-white); /* Белый цвет текста для breadcrumbs */
  --page-header-title-text: var(--color-white); /* Белый цвет для заголовка */
  --page-header-description-text: var(--color-white); /* Белый цвет для описания */

  /* Цвет для разделителя в блоке услуг */
  --page-header-divider-bg: var(--color-gray-400);

  /* Цвет для карточек услуг */
  --service-card-text: var(--color-white);

  /* Навигация */
  --nav-text-color: var(--color-white); /* Цвет текста навигационных элементов */
  --nav-button-bg: var(--color-primary); /* Цвет фона кнопки */
  --nav-button-hover-bg: var(--color-primary-hover); /* Цвет фона кнопки при наведении */
  --nav-button-active-bg: var(--color-primary-active); /* Цвет фона кнопки при активации */
  --nav-button-text-color: var(--color-white); /* Цвет текста кнопки */
}
