:root {
  color-scheme: light;

  /* Основные цвета */
  --header-text: var(--color-white); /* Белый текст для хедера */

  /* Текстовые цвета для breadcrumbs и заголовков */
  --breadcrumbs-text: var(--color-white); /* Белый цвет текста для breadcrumbs */
  --page-header-title-text: var(--color-white); /* Белый цвет для заголовка */
  --page-header-description-text: var(--color-white); /* Белый цвет для описания */

  /* Цвет для разделителя в блоке услуг */
  --page-header-divider-bg: var(--color-gray-400);

  /* Цвет для карточек услуг */
  --service-card-text: var(--color-white);

  /* Навигация */
  --nav-text-color: var(--color-white); /* Цвет текста навигационных элементов */
  --nav-button-bg: var(--color-primary); /* Цвет фона кнопки */
  --nav-button-hover-bg: var(--color-primary-hover); /* Цвет фона кнопки при наведении */
  --nav-button-active-bg: var(--color-primary-active); /* Цвет фона кнопки при активации */
  --nav-button-text-color: var(--color-white); /* Цвет текста кнопки */
  --footer-bg-color: var(--color-gray-900);
  --footer-description-color: var(--color-white);
  --footer-text-color: var(--color-white);
  --footer-icon-color: var(--color-white);
  --footer-splitter-color: var(--color-white);
  --footer-copyright-bg-color: rgb(255 255 255 / 5%);

  /* --footer-copyright-bg-color: var(--color-gray-700); */

  --banner-statistic-caption: var(--color-gray-800);
  --banner-title-color: var(--color-gray-900);
  --banner-value-title-color: var(--color-gray-900);
  --banner-value-description-color: var(--color-gray-700);
  --media-content-image-darkened: var(--color-gray-900);
  --button-play-bg: var(--color-primary);
  --button-play-hover-bg: var(--color-primary-hover);
  --button-play-active-bg: var(--color-primary-active);
  --button-sound-bg: var(--color-gray-400);
  --button-sound-hover-bg: var(--color-gray-400);
  --button-sound-active-bg: var(--color-gray-400);
  --button-sound-icon-color: var(--color-white);
  --clients-title-color: var(--color-gray-900);
  --card-team-title-color: var(--color-gray-900);
  --card-team-item-name-color: var(--color-gray-800);
  --card-team-item-post-color: var(--color-gray-700);
  --card-awards-title-color: var(--color-gray-900);
  --card-awards-item-desctiption-color: var(--color-gray-800);
  --card-philosophy-bg: var(--color-white);
  --card-philosophy-title-color: var(--color-gray-900);
  --card-philosophy-description-color: var(--color-gray-700);

  /* Цвета для latest-news */
  --latest-news-title-color: var(--color-gray-900); /* Цвет заголовка новостей */
  --latest-news-subtitle-color: var(--color-gray-600); /* Цвет подзаголовка новостей */
  --latest-news-button-bg: var(--color-primary); /* Цвет фона кнопки новостей */
  --latest-news-button-hover-bg: var(--color-primary-hover); /* Цвет фона кнопки при наведении */
  --latest-news-button-text-color: var(--color-white); /* Цвет текста кнопки новостей */

  /* Цвета для карточек новостей */
  --news-card-category-color: var(--color-gray-700); /* Цвет для категории новости */
  --news-card-separator-color: var(--color-gray-700); /* Цвет для разделителя в карточке */
  --news-card-text-color: var(--color-gray-700); /* Цвет для текста в карточке */
  --news-card-title-color: var(--color-gray-900); /* Цвет для заголовка новости */
  --news-card-description-color: var(--color-gray-600); /* Цвет для описания нов  ости */
  --news-card-link-text-color: var(--color-gray-900); /* Цвет текста ссылки в карточке */
  --news-card-link-hover-text-color: var(--color-primary); /* Цвет текста ссылки при наведении */

  /* Цвета для careers */
  --careers-background-color: var(--color-gray-200); /* Цвет фона для раздела Careers */
  --careers-title-color: var(--color-gray-900); /* Цвет заголовка в разделе Careers */
  --careers-description-color: var(--color-gray-800); /* Цвет описания в разделе Careers */
  --careers-button-bg: var(--color-primary); /* Цвет фона кнопки в разделе Careers */
  --careers-button-hover-bg: var(--color-primary-hover); /* Цвет фона кнопки при наведении */
  --careers-button-text-color: var(--color-white); /* Цвет текста на кнопке */

  /* Цвета для faq */
  --faq-title-color: var(--color-gray-900); /* Цвет заголовка в разделе FAQ */
  --faq-text-color: var(--color-gray-900); /* Цвет текста в вопросах */
  --faq-answer-text-color: var(--color-gray-700); /* Цвет текста в ответах */
  --faq-question-hover-text-color: var(--color-primary); /* Цвет текста вопроса при наведении */

  /* Цвета для seo-analysis */
  --seo-analysis-background-color: var(--color-primary); /* Фон для seo-analysis */
  --seo-analysis-title-color: var(--color-white); /* Цвет заголовка в seo-analysis */
  --seo-analysis-label-color: var(--color-white); /* Цвет меток в seo-analysis */
  --seo-analysis-input-background: var(--color-gray-200); /* Цвет фона для input в seo-analysis */
  --seo-analysis-input-border-color: var(--color-gray-400); /* Цвет границы для input в seo-analysis */
  --seo-analysis-input-text-color: var(--color-gray-600); /* Цвет текста в input */
  --seo-analysis-submit-button-bg: var(--color-gray-900); /* Фон кнопки отправки */
  --seo-analysis-submit-button-hover-bg: var(--color-gray-800); /* Фон кнопки при наведении */
  --seo-analysis-submit-button-text-color: var(--color-white); /* Цвет текста на кнопке отправки */
}
